 <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Event!!!!</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/small-business.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="index.html">LQ hn</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Trang chủ
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Giới thiệu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Event</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Liên hệ</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
     <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<div class="bxslider details slideshow">
<div class="item">
<img src="Img/span1.jpg" alt="Khóa học SỐNG TÍCH CỰC tại Hà Nội" style="width:100%">
</div>
<div class="bxslider details slideshow">
<div class="item">
<img src="Img/span3.jpg" alt="Khóa học SỐNG TÍCH CỰC tại Hà Nội" style="width:100%">
</div>
</div>

<div class="container" >
<div class="box_shadow_cover" style="overflow: hidden;padding: 15px 0;">
<div class="text-center">
<h1>Garage Sale 2018 - Trạm cứu hộ chó mèo Hà Nội</h1>
<div class="event_info">
<p>
<i class="fa fa-clock-o"></i>
<span>
09:00
</span>
</p>
<p>
<i class="fa fa-calendar"></i>
<span>
Ngày 15
Tháng 12
Năm 2018
</span>
</p><p>
<i class="fa fa-map-marker"></i>
<span>
Sân T28 , Ngõ 102 Trường Chinh, Đống Đa , Hà Nội
</span>
</p>
</div>
<div class="event_info">
<p style="margin-top: 10px;">
<i class="fa fa-ticket"></i>
VÉ MIỄN PHÍ: 0,
</p>
</div>
</div>
<div class="container">
<div class="col-xs-12 box_shadow_cover">
<div id="ticket-desc">
<h2 class="text-center">GIỚI THIỆU VỀ SỰ KIỆN</h2>
<div class="ticket_info_box">
<p style="text-align: center;"><span style="font-size: 12pt;"><strong><span style="font-family: verdana, geneva, sans-serif;">Garage Sale 2018 năm nay sẽ hướng đến mục tiêu:</span></strong></span></p>
<p style="text-align: center;"><span style="font-size: 12pt; font-family: verdana, geneva, sans-serif;">- Giúp mọi người có cơ hội tiếp cận thông tin về chăm sóc và bảo vệ động vật nuôi.</span><br><span style="font-size: 12pt; font-family: verdana, geneva, sans-serif;">- Đẩy mạnh các hoạt động bảo vệ môi trường bằng việc thu gom rác thải điện tử, tái sử dụng đồ cũ tới người cần chúng hơn, cung cấp thêm sự lựa chọn để thay thế nhựa dùng một lần,...</span><br><span style="font-size: 12pt; font-family: verdana, geneva, sans-serif;">- Gây quỹ cho hoạt động cứu hộ và chăm sóc chó mèo tại Trạm.</span></p>
<p><img style="display: block; margin-left: auto; margin-right: auto;"  width="75%"  src="Img/img16.jpg"></p>
<p style="text-align: center;"><span style="font-size: 12pt; color: #ff0000;"><strong><span style="font-family: verdana, geneva, sans-serif;">THÔNG TIN CHI TIẾT SỰ KIỆN</span></strong></span></p>
<p style="text-align: center;"><span style="font-size: 12pt;"><strong><span style="font-family: verdana, geneva, sans-serif;">Thời gian: </span></strong><span style="font-family: verdana, geneva, sans-serif;">9h00 - 17h00 ngày 15 &amp; 16/12/2018</span></span></p>
<p style="text-align: center;"><span style="font-family: verdana, geneva, sans-serif;"><span style="font-size: 16px; line-height: 20.8px;"><strong>Địa điểm:</strong>&nbsp;Sân T28, ngõ 102 Trường Chinh, Đống Đa, Hà Nội</span></span></p>
<p style="text-align: center;"><span style="font-size: 16px;"><strong><span style="font-family: verdana, geneva, sans-serif;"><span style="line-height: 20.8px;">Vào cửa miễn phí</span></span></strong></span></p>
<p style="text-align: center;"><span style="font-family: verdana, geneva, sans-serif;"><span style="font-size: 16px; line-height: 20.8px;"><strong>LƯU Ý:</strong><br>- Khi mua đồ các bạn vui lòng mang theo đồ đựng, bởi tụi mình chỉ có một số ít túi giấy, túi vải, túi nilon giữ lại được trong quá trình phân loại đồ quyên góp.<br>- Tại quầy ăn uống sẽ không sử dụng đồ nhựa/xốp dùng 1 lần, các bạn có thể mang theo thìa dĩa, ống hút hay chai nước nếu cần.<br>- Sẽ vui hơn nếu các bạn có thể đưa chó, mèo của mình cùng tới.</span></span></p>
<p style="text-align: center;"><span style="font-size: 16px;"><strong><span style="font-family: verdana, geneva, sans-serif;"><span style="line-height: 20.8px;">Mọi thắc mắc về sự kiện, các bạn vui lòng liên hệ:</span></span></strong></span><span style="font-family: verdana, geneva, sans-serif;"><span style="font-size: 16px; line-height: 20.8px;"><br>Cao Ngọc Hà (Ms) - 0911 066 555<br>Email: caongocha.tb@gmail.com<br><br><strong><em>Hẹn gặp các bạn tại Garage Sale 2018 của Trạm cứu hộ chó mèo Hà Nội nhé!</em></strong></span></span></p>
<p>&nbsp;</p>
</div>
</div>
</div>
</div>
</div>

<div class="row">
  <div class="col-md-5 offset-5">
    <a class="btn btn-warning">ĐĂNG KÝ THAM GIA</a>
  </div>
</div>
      <div class="card text-white bg-danger mt-4 text-center">
          Sự Kiện Khác
      </div>
        <div class="row">
      <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
             <a class="event_image" href=""><img alt="" src="Img/img12.jpg" style="width: 308px; height: 210px;"></a>
            </div>
             <div class="card-footer">
                      <a href=""  class="show">Khoá học làm web  cơ bản miễn phí</a>
                      <div>
                        <div class="">
                        <span aria-label="Monday, December 17, 2018" ctitle="Monday, December 17, 018">
                          <span class="">DEC</span>
                          <span class="">17</span>
                          <span class="">Đống Đa</span>
                        </span>
                        </div>
                      </div>
                      <div class="col-md-5">
                        <buton class="btn btn-warning">Tham dự</buton>
                      </div>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
             <a class="event_image" href=""><img alt="" src="Img/img9.jpg" style="width: 308px; height: 210px;"></a>
            </div>
             <div class="card-footer">
                      <a href=""  class="show">Jingle Bells 2018</a>
                      <div>
                        <div class="">
                        <span aria-label="Monday, December 17, 2018" ctitle="Monday, December 17, 018">
                          <span class="">DEC</span>
                          <span class="">19</span>
                          <span class="">Đống Đa</span>
                        </span>
                        </div>
                      </div>
                      <div class="col-md-5">
                        <buton class="btn btn-warning">Tham dự</buton>
                      </div>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
             <a href=""><img alt="" src="Img/img14.jpg" style="width: 308px; height: 210px;"></a>
            </div>
              <div class="card-footer">
                      <a href=""  class="show">SAAS DAY 2018 - The Future of Work</a>
                      <div>
                        <div class="">
                        <span aria-label="Monday, December 17, 2018" ctitle="Monday, December 17, 018">
                          <span class="">DEC</span>
                          <span class="">18</span>
                          <span class="">Đống Đa</span>
                        </span>
                        </div>
                      </div>
                      <div class="col-md-5">
                        <buton class="btn btn-warning">Tham dự</buton>
                      </div>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
     
    
      </div>
</div>

</div>
</body>
  <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">-21-21-212-2-12-1</p>
      </div>
       

    </footer>
    </html>