extends layout

block content
  // Page Content
  .container
    // Heading Row
    .row.mt-4
      .col-lg-8
        img.img-fluid.rounded(src='Img/img1.jpg', alt='')
      // /.col-lg-8
      .col-lg-4
        h1 Sứ mệnh
        p
          | T&#x1ED5;ng h&#x1EE3;p s&#x1EF1; ki&#x1EC7;n v&abreve;n ho&aacute;, &abreve;n u&#x1ED1;ng, vui ch&#x1A1;i gi&#x1EA3;i tr&iacute; l&agrave;nh m&#x1EA1;nh di&#x1EC5;n ra h&#x1EB1;ng ng&agrave;y h&#x1EB1;ng gi&#x1EDD;.Mang &dstrok;&#x1EBF;n cho b&#x1EA1;n nh&#x1EEF;ng t&#x1EE5; &dstrok;i&#x1EC3;m &abreve;n ch&#x1A1;i h&uacute;t ch&iacute;ch
        a.btn.btn-primary.btn-lg(href='#') Chi ti&#x1EBF;t&gt;
      // /.col-md-4
    // /.row
    // Call to Action Well
    .card.text-white.bg-secondary.my-4.text-center
      .row.card-body
        .col-md-4
          input.form-control(type='text', placeholder='Tìm kiếm')
        .col-md-4
          select.form-control
            option(value='0') --Qu&#x1EAD;n--
        .col-md-4
          button.btn.btn-primary(type='submit') T&Igrave;M KI&#x1EBE;M
    .row
      .col-md-6.col-lg-6.col-sm-9.col-xs-9.event_type_list
        h2.h2 S&#x1EF0; KI&#x1EC6;N N&#x1ED4;I B&#x1EAC;T
      #create_event_button.col-md-6.col-lg-6.col-sm-3.col-xs-12.hidden-xs.hidden-sm
        .pull-right
          .pull-left(style='margin-right: 5px;')
            a.btn.btn-warning(href='')
              i.fa.fa-calendar(aria-hidden='true')
              | L&#x1ECA;CH S&#x1EF0; KI&#x1EC6;N
          .pull-left
            span.btn.btn-warning(data-toggle='modal', data-target='#sendEventButton')
              i.fa.fa-plus(aria-hidden='true')
              |  G&#x1EEC;I S&#x1EF0; KI&#x1EC6;N
    // Content Row
    .row
      .col-md-4.mb-4
        .card.h-100
          .card-body
            a.event_image(href='nguoitinh.php')
              img(alt='LIVESHOW “NGƯỜI TÌNH”', src='Img/img2.jpg', style='width: 308px; height: 210px;')
          .card-footer
            a.show(href='nguoitinh.php') LIVESHOW &ldquo;NG&#x1AF;&#x1EDC;I T&Igrave;NH&rdquo;
            div
              div
                span(aria-label='Monday, December 17, 2018', ctitle='Monday, December 17, 018')
                  span DEC
                  span 23
                  span &Dstrok;&#x1ED1;ng &Dstrok;a
            .col-md-5
              buton.btn.btn-warning Tham d&#x1EF1;
      // /.col-md-4
      .col-md-4.mb-4
        .card.h-100
          .card-body
            a.event_image(href='Songtichcuc.php')
              img(alt='Khóa học SỐNG TÍCH CỰC tại Hà Nội', src='Img/img4.jpg', style='width: 308px; height: 210px;')
          .card-footer
            a.show(href='Songtichcuc.php') Kh&oacute;a h&#x1ECD;c S&#x1ED0;NG T&Iacute;CH C&#x1EF0;C t&#x1EA1;i H&agrave; N&#x1ED9;i
            div
              div
                span(aria-label='Monday, December 17, 2018', ctitle='Monday, December 17, 018')
                  span DEC
                  span 20
                  span T&acirc;y H&#x1ED3;
            .col-md-5
              buton.btn.btn-warning Tham d&#x1EF1;
      // /.col-md-4
      .col-md-4.mb-4
        .card.h-100
          .card-body
            a.event_image(href='chomeo.php')
              img(alt='Garage Sale 2018 - Trạm cứu hộ chó mèo Hà Nội', src='Img/img3.jpg', style='width: 308px; height: 210px;')
          .card-footer
            a.show(href='chomeo.php') Garage Sale 2018 - Tr&#x1EA1;m c&#x1EE9;u h&#x1ED9; ch&oacute; m&egrave;o H&agrave; N&#x1ED9;i
            div
              div
                span(aria-label='Monday, December 17, 2018', ctitle='Monday, December 17, 018')
                  span DEC
                  span 15
                  span &Dstrok;&#x1ED1;ng &Dstrok;a
            .col-md-5
              buton.btn.btn-warning Tham d&#x1EF1;
      // /.col-md-4
    .row
      .col-md-4.mb-4
        .card.h-100
          .card-body
            a.event_image(href='')
              img(alt='Garage Sale 2018 - Trạm cứu hộ chó mèo Hà Nội', src='Img/img15.jpg', style='width: 308px; height: 210px;')
          .card-footer
            a.show(href='') NG&Otilde; NH&#x1EA0;C ng&agrave;y 9/12: EM V&#x1EC0; TINH KH&Ocirc;I
            div
              div
                span(aria-label='Monday, December 17, 2018', ctitle='Monday, December 17, 018')
                  span DEC
                  span 20
                  span &Dstrok;&#x1ED1;ng &Dstrok;a
            .col-md-5
              button.btn.btn-warning Tham d&#x1EF1;
      // /.col-md-4
      .col-md-4.mb-4
        .card.h-100
          .card-body
            a.event_image(href='https://ticketgo.vn/event/liveshow-nguoi-tinh')
              img(alt='', src='Img/img10.jpg', style='width: 308px; height: 210px;')
          .card-footer
            a.show(href='') Galaxy Music Show - JustaTee, Ng&#x1ECD;t, Da Lab
            div
              div
                span(aria-label='Monday, December 17, 2018', ctitle='Monday, December 17, 018')
                  span DEC
                  span 20
                  span &Dstrok;&#x1ED1;ng &Dstrok;a
            .col-md-5
              buton.btn.btn-warning Tham d&#x1EF1;
      // /.col-md-4
      .col-md-4.mb-4
        .card.h-100
          .card-body
            a.event_image(href='https://ticketgo.vn/event/liveshow-nguoi-tinh')
              img(alt='', src='Img/img11.jpg', style='width: 308px; height: 210px;')
          .card-footer
            a.show(href='') Offline Vietnammechkey l&#x1EA7;n th&#x1EE9; 5
            div
              div
                span(aria-label='Monday, December 17, 2018', ctitle='Monday, December 17, 018')
                  span DEC
                  span 17
                  span &Dstrok;&#x1ED1;ng &Dstrok;a
            .col-md-5
              buton.btn.btn-warning Tham d&#x1EF1;
      // /.col-md-4
    .row
      .col-md-4.mb-4
        .card.h-100
          .card-body
            a.event_image(href='')
              img(alt='', src='Img/img12.jpg', style='width: 308px; height: 210px;')
          .card-footer
            a.show(href='') Kho&aacute; h&#x1ECD;c l&agrave;m web  c&#x1A1; b&#x1EA3;n mi&#x1EC5;n ph&iacute;
            div
              div
                span(aria-label='Monday, December 17, 2018', ctitle='Monday, December 17, 018')
                  span DEC
                  span 17
                  span &Dstrok;&#x1ED1;ng &Dstrok;a
            .col-md-5
              buton.btn.btn-warning Tham d&#x1EF1;
      // /.col-md-4
      .col-md-4.mb-4
        .card.h-100
          .card-body
            a.event_image(href='')
              img(alt='', src='Img/img9.jpg', style='width: 308px; height: 210px;')
          .card-footer
            a.show(href='') Jingle Bells 2018
            div
              div
                span(aria-label='Monday, December 17, 2018', ctitle='Monday, December 17, 018')
                  span DEC
                  span 19
                  span &Dstrok;&#x1ED1;ng &Dstrok;a
            .col-md-5
              buton.btn.btn-warning Tham d&#x1EF1;
      // /.col-md-4
      .col-md-4.mb-4
        .card.h-100
          .card-body
            a(href='')
              img(alt='', src='Img/img14.jpg', style='width: 308px; height: 210px;')
          .card-footer
            a.show(href='') SAAS DAY 2018 - The Future of Work
            div
              div
                span(aria-label='Monday, December 17, 2018', ctitle='Monday, December 17, 018')
                  span DEC
                  span 18
                  span &Dstrok;&#x1ED1;ng &Dstrok;a
            .col-md-5
              buton.btn.btn-warning Tham d&#x1EF1;
      // /.col-md-4
    // /.row
  .card.text-white.bg-danger.mt-4.text-center
    | S&#x1EF1; Ki&#x1EC7;n S&#x1EAF;p Di&#x1EC5;n Ra

