<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Event!!!!</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/small-business.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="index.html">LQ hn</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Trang chủ
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Giới thiệu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Event</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Liên hệ</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
     <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<div class="bxslider details slideshow">
<div class="item">
<img src="Img/span1.jpg" alt="Khóa học SỐNG TÍCH CỰC tại Hà Nội" style="width:100%">
</div>
<div class="bxslider details slideshow">
<div class="item">
<img src="Img/span2.jpg" alt="Khóa học SỐNG TÍCH CỰC tại Hà Nội" style="width:100%">
</div>
</div>
<div class="box_shadow_cover" style="overflow: hidden;padding: 15px 0;">
<div class=" text-center">
<h1>LIVESHOW “NGƯỜI TÌNH”</h1>
<div class="event_info">
<p>
<i class="fa fa-clock-o"></i>
<span>
20:00
</span>
</p>
<p>
<i class="fa fa-calendar"></i>
<span>
Ngày 23
Tháng 12
Năm 2018
</span>
</p><p>
<i class="fa fa-map-marker"></i>
<span>
Cung Văn hoá hữu nghị Việt Xô , Số 91 Trần Hưng Đạo , Hà Nội
</span>
</p>
</div>
<div class="event_info">
<p style="margin-top: 10px;">
<i class="fa fa-ticket"></i>
Vé sự kiện: 600.000,
Vé sự kiện: 800.000,
Vé sự kiện: 1.000.000,
Vé sự kiện: 1.200.000,
Vé sự kiện: 1.500.000,
Vé sự kiện: 2.000.000,
Vé VIP: 2.500.000,
Vé SVIP: 3.000.000,
</p>
</div>
</div>
</div>

<div class="container">
<div class="col-xs-12 box_shadow_cover">
<div id="ticket-desc">
<h2 class="ticket_title text-center">GIỚI THIỆU VỀ SỰ KIỆN</h2>
<div class="ticket_info_box">
<p style="text-align: center;"><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;"><span style="font-weight: 400;">Chương trình âm nhạc đẳng cấp nhất của dịp lễ giáng sinh 2018 sẽ diễn ra tại Hà Nội vào 20h Ngày 23 tháng 12 .&nbsp;5 ca sĩ nổi tiếng sẽ cùng thăng hoa trên sân khấu sang trọng của Cung Văn hóa Hữu nghị Việt Xô, với không gian được thiết kế tối giản nhưng tinh tế, mang đậm màu sắc của một đêm Noel nồng nàn, say đắm.&nbsp;&nbsp;</span><span style="font-weight: 400;">Chương trình được hòa âm phối khí bởi ban nhạc Dương Cầm (nhạc sĩ của ca khúc được hàng triệu khán giả yêu thích “Mong anh về”).</span></span></p>
<p style="text-align: center;"><span style="font-weight: 400; font-family: verdana, geneva, sans-serif; font-size: 12pt;"><img style="display: block; margin-left: auto; margin-right: auto;" width="70%" src="Img/a2.jpg" ></span></p>
<p style="text-align: center;"><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;"><span style="font-weight: 400;">Liveshow “Người tình” sẽ gửi tới khán giả một bản tình ca đẹp, lãng mạn về tình yêu, được xâu chuỗi bởi nhiều khúc tình ca “hit” gắn liền với tên tuổi của từng ca sĩ, thể hiện tất cả các cung bậc cảm xúc của tình yêu: yêu thương, giận hờn, ghen tuông, lãng mạn, sôi nổi, buồn lắng, và hạnh phúc…</span><span style="font-weight: 400;">Các mảng màu của tình yêu, của âm nhạc sẽ được 5 ca sĩ cùng ban nhạc tài năng Dương Cầm đan xen khéo léo, tinh tế, để truyền đến tất cả khán giả cảm xúc yêu thương, thỏa mãn ở cung bậc cao nhất. Đây thực sự là món quà tình yêu không thể thiếu của bạn trong dịp lễ giáng sinh đáng nhớ năm nay.</span></span></p>
<p style="text-align: center;"><span style="font-size: 12pt;"><strong><span style="font-family: verdana, geneva, sans-serif;">THÔNG TIN CHI TIẾT VỀ SỰ KIỆN:</span></strong></span></p>
<p style="text-align: center;"><span style="font-size: 12pt; color: #ff0000;"><strong><span style="font-family: verdana, geneva, sans-serif;">Liveshow “Người tình”</span></strong></span></p>
<p style="text-align: center;"><span style="font-weight: 400; font-family: verdana, geneva, sans-serif; font-size: 12pt;"><strong> Ca sĩ:</strong> Hồng Nhung – Minh Tuyết – Uyên Linh&nbsp; – Tùng Dương – Quang Lê</span></p>
<p style="text-align: center;"><span style="font-weight: 400; font-family: verdana, geneva, sans-serif; font-size: 12pt;"><strong>Thời gian:</strong> 20:00, Chủ Nhật Ngày 23 tháng 12 năm 2018 </span></p>
<p style="text-align: center;"><span style="font-weight: 400; font-family: verdana, geneva, sans-serif; font-size: 12pt;"><strong>Địa điểm:</strong>&nbsp; Cung Văn hóa Hữu nghị Việt Xô - 91 Trần Hưng Đạo - Hoàn Kiếm - Hà Nội</span></p>
<p style="text-align: center;"><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;"><span style="font-weight: 400;">Giá vé:&nbsp;</span><strong>600.000 – 800.000 – 1.000.000 – 1.200.000 – 1.500.000 – 2.000.000 – Vip 2.500.000 – Super vip 3.000.000</strong><span style="font-weight: 400;">&nbsp;đồng/vé.</span></span></p>
<p style="text-align: center;"><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt;"><span style="font-weight: 400;">Vui lòng chọn mức vé và gọi tới Hotline&nbsp;</span><strong>0243.788.00.99</strong><span style="font-weight: 400;">&nbsp;hoặc&nbsp;</span><strong>08. 999.80.818&nbsp;</strong><span style="font-weight: 400;">&nbsp;để được <strong>giao vé tận nơi miễn phí.</strong></span></span></p>
<p style="text-align: center;"><span style="font-weight: 400; font-family: verdana, geneva, sans-serif; font-size: 12pt;"></span></p>
<p style="text-align: center;"><span style="font-weight: 400; font-family: verdana, geneva, sans-serif; font-size: 12pt;"><strong>NHANH TAY BOOK VÉ NGAY TỪ BÂY GIỜ ĐỂ CÓ VỊ TRÍ GHẾ ĐẸP NHẤT!!!</strong></span></p>
</div>

</div>
</div>


<div class="row">
  <div class="col-md-5 offset-5">
    <a class="btn btn-warning">ĐĂNG KÝ THAM GIA</a>
  </div>
</div>
      <div class="card text-white bg-danger mt-4 text-center">
          Sự Kiện Khác
      </div>
        <div class="row">
      <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
             <a class="event_image" href=""><img alt="" src="Img/img12.jpg" style="width: 308px; height: 210px;"></a>
            </div>
             <div class="card-footer">
                      <a href=""  class="show">Khoá học làm web  cơ bản miễn phí</a>
                      <div>
                        <div class="">
                        <span aria-label="Monday, December 17, 2018" ctitle="Monday, December 17, 018">
                          <span class="">DEC</span>
                          <span class="">17</span>
                          <span class="">Đống Đa</span>
                        </span>
                        </div>
                      </div>
                      <div class="col-md-5">
                        <buton class="btn btn-warning">Tham dự</buton>
                      </div>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
             <a class="event_image" href=""><img alt="" src="Img/img9.jpg" style="width: 308px; height: 210px;"></a>
            </div>
             <div class="card-footer">
                      <a href=""  class="show">Jingle Bells 2018</a>
                      <div>
                        <div class="">
                        <span aria-label="Monday, December 17, 2018" ctitle="Monday, December 17, 018">
                          <span class="">DEC</span>
                          <span class="">19</span>
                          <span class="">Đống Đa</span>
                        </span>
                        </div>
                      </div>
                      <div class="col-md-5">
                        <buton class="btn btn-warning">Tham dự</buton>
                      </div>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
             <a href=""><img alt="" src="Img/img14.jpg" style="width: 308px; height: 210px;"></a>
            </div>
              <div class="card-footer">
                      <a href=""  class="show">SAAS DAY 2018 - The Future of Work</a>
                      <div>
                        <div class="">
                        <span aria-label="Monday, December 17, 2018" ctitle="Monday, December 17, 018">
                          <span class="">DEC</span>
                          <span class="">18</span>
                          <span class="">Đống Đa</span>
                        </span>
                        </div>
                      </div>
                      <div class="col-md-5">
                        <buton class="btn btn-warning">Tham dự</buton>
                      </div>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
     
    
      </div>
</div>
</div>
</body>
<footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">-21-21-212-2-12-1</p>
      </div>
       

    </footer>
    </html>