</div>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Event!!!!</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/small-business.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="index.html">LQ hn</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Trang chủ
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Giới thiệu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Event</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Liên hệ</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
     <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<div class="bxslider details slideshow">
<div class="item">
<img src="Img/span1.jpg" alt="Khóa học SỐNG TÍCH CỰC tại Hà Nội" style="width:100%">
</div>


<div class="container">
  <div class="col-xs-12 box_shadow_cover">
<div id="ticket-desc">
<h2 class="ticket_title text-center">GIỚI THIỆU VỀ SỰ KIỆN</h2>
<div class="ticket_info_box">
<p style="text-align: center;"><span style="font-size: 13pt; font-family: verdana, geneva, sans-serif;"><strong>Khóa học trải nghiệm "SỐNG TÍCH CỰC"</strong>&nbsp;diễn ra trong 4 buổi là một cơ hội để bạn tạm tách mình ra khỏi guồng quay cuộc sống, là chính mình trong một bầu không khí thân thiện, thư thái, để chiêm nghiệm và khám phá về bản thân.</span></p>
<p style="text-align: center;"><span style="font-size: 13pt; font-family: verdana, geneva, sans-serif;">Trong khóa học này, bạn sẽ&nbsp;được khám phá sức mạnh của Suy nghĩ và tác động của thái độ Sống tích cực, để học cách:</span></p>
<p style="text-align: center;"><span style="font-size: 13pt; font-family: verdana, geneva, sans-serif;">+ Làm chủ suy nghĩ và cảm xúc.</span></p>
<p style="text-align: center;"><span style="font-size: 13pt; font-family: verdana, geneva, sans-serif;">+ Khơi mạch nguồn suy nghĩ tích cực.</span></p>
<p style="text-align: center;"><span style="font-size: 13pt; font-family: verdana, geneva, sans-serif;">+ Kết thúc những suy nghĩ, lời nói và hành động gây tổn hao và rút cạn năng lượng.</span></p>
<p style="text-align: center;"><span style="font-size: 13pt; font-family: verdana, geneva, sans-serif;">+ Sống tự do trước những áp lực và các luồng ảnh hưởng tiêu cực.</span></p>
<p style="text-align: center;"><span style="font-size: 13pt; font-family: verdana, geneva, sans-serif;"><img alt="Khóa học SỐNG TÍCH CỰC - Inner Space HN" width="80%" src="Img/songtichcuc.jpg" ></span></p>
<h3 style="text-align: center;"><span style="font-size: 13pt; font-family: verdana, geneva, sans-serif; color: #0000ff;"><strong>I - THÔNG TIN CHI TIẾT VỀ KHÓA HỌC</strong></span></h3>
<p style="text-align: center;"><span style="font-size: 13pt; font-family: verdana, geneva, sans-serif;"><strong>1. Thời gian</strong>: 18h30 - 20h15, Thứ 5 hàng tuần, Khai giảng ngày 13/12/2018.</span></p>
<p style="text-align: center;"><span style="font-size: 13pt; font-family: verdana, geneva, sans-serif;">(Thời lượng: 4 buổi, 1 buổi/tuần)</span></p>
<p style="text-align: center;"><span style="font-size: 13pt; font-family: verdana, geneva, sans-serif;"><strong>2.&nbsp;Địa điểm</strong>: Trung tâm InnerSpace Âu Cơ -&nbsp;Số 10A, ngõ 34, đường Âu Cơ, phường Tứ Liên, quận Tây Hồ, TP. Hà Nội</span></p>
<p style="text-align: center;"><span style="font-size: 13pt; font-family: verdana, geneva, sans-serif;"><strong>3.&nbsp;Nội dung khóa học</strong>:</span></p>
<p style="text-align: center;"><span style="font-size: 13pt; font-family: verdana, geneva, sans-serif;">+ Làm chủ tốt hơn suy nghĩ và cảm xúc.</span></p>
<p style="text-align: center;" ><span style="font-size: 13pt; font-family: verdana, geneva, sans-serif;">+ Khơi mạch nguồn suy nghĩ tích cực.</span></p>
<p style="text-align: center;"><span style="font-size: 13pt; font-family: verdana, geneva, sans-serif;">+ Kết thúc những suy nghĩ, lời nói và hành động gây tổn thương và rút cạn năng lượng.</span></p>
<pstyle="text-align: center;"><span style="font-size: 13pt; font-family: verdana, geneva, sans-serif;">+ Kết thúc những suy nghĩ, lời nói và hành động gây tổn thương và rút cạn năng lượng.</span></p>
<p style="text-align: center;"><span style="font-size: 13pt; font-family: verdana, geneva, sans-serif;">+ Sống tự do trước những áp lực và các luồng ảnh hưởng tiêu cực.</span></p>
<p style="text-align: center;"><span style="font-size: 13pt; font-family: verdana, geneva, sans-serif;"><strong>4. Cách thức tham gia khóa học</strong></span></p>
<p style="text-align: center;"><span style="font-size: 13pt; font-family: verdana, geneva, sans-serif;">+ Cách 1: Đăng ký qua link online&nbsp;<em><a href="">http://bit.ly/STC122018</a></em></span></p>
<p style="text-align: center;"><span style="font-size: 13pt; font-family: verdana, geneva, sans-serif;">+ Cách 2: Đăng kí trực tiếp tại văn phòng Trung Tâm Inner Space</span></p>
<p style="text-align: center;"><span style="font-size: 13pt; font-family: verdana, geneva, sans-serif;">Địa chỉ 1: số 10A, Ngõ 34, Âu Cơ, Tứ Liên, Tây Hồ, Hà Nội (SĐT: 024 3537 6510)</span></p>
<p style="text-align: center;"><span style="font-size: 13pt; font-family: verdana, geneva, sans-serif;">Địa chỉ 2: số 30 ngõ 203 Chùa Bộc, Đống Đa, Hà Nội. (SĐT: 024 3225 2605)</span></p>
<p style="text-align: center;"><span style="font-size: 13pt; font-family: verdana, geneva, sans-serif;">Giờ làm việc: 08h00 - 20h00 (các ngày trong tuần) &amp; 08h00 - 18h00 (thứ bảy, chủ nhật).</span></p>
<p style="text-align: center;"><span style="font-size: 13pt; font-family: verdana, geneva, sans-serif;"><strong>5. Học phí</strong></span></p>
<p style="text-align: center;"><span style="font-size: 13pt; font-family: verdana, geneva, sans-serif;"><strong>Inner Space</strong> hoạt động dựa vào sự đóng góp từ các tình nguyện viên, học viên và cộng đồng. Với thiện chí phục vụ cộng đồng, tất cả các hoạt động tại Inner Space đều không tính phí. Học viên có thể tự nguyện bỏ vào HỘP ĐÓNG GÓP tại phòng học. Mọi đóng góp tự nguyện của các học viên đều nhằm mục đích duy trì các hoạt động của Inner Space phục vụ cộng đồng.</span></p>
<p style="text-align: center;"><span style="font-size: 13pt; font-family: verdana, geneva, sans-serif;"><strong>* Lưu ý</strong>:</span></p>
<p style="text-align: center;"><span style="font-size: 13pt; font-family: verdana, geneva, sans-serif;">+ Trung tâm Inner Space sẽ không nhận học viên đến trễ 15 phút sau khi lớp học bắt đầu.</span></p>
<p style="text-align: center;"><span style="font-size: 13pt; font-family: verdana, geneva, sans-serif;">+ Không mang theo đồ ăn và đồ uống tại Inner Space. Đặc biệt, không sử dụng thuốc lá và các loại đồ uống có cồn.</span></p>
<p style="text-align: center;"><span style="font-size: 13pt; font-family: verdana, geneva, sans-serif;">+ Đồ dùng cá nhân: Để trên tủ phía ngoài phòng học (không để tiền bạc, đồ có giá trị…).</span></p>
<p style="text-align: center;"><span style="font-size: 13pt; font-family: verdana, geneva, sans-serif;">+ Không mang trẻ em dưới 15 tuổi theo cùng.</span></p>

<p style="text-align: center;"><span style="font-size: 13pt; font-family: verdana, geneva, sans-serif;">&nbsp;</span></p>
</div>
</div>
</div>



<div class="row">
  <div class="col-md-5 offset-5">
    <a class="btn btn-warning">ĐĂNG KÝ THAM GIA</a>
  </div>
</div>
      <div class="card text-white bg-danger mt-4 text-center">
          Sự Kiện Khác
      </div>
        <div class="row">
      <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
             <a class="event_image" href=""><img alt="" src="Img/img12.jpg" style="width: 308px; height: 210px;"></a>
            </div>
             <div class="card-footer">
                      <a href=""  class="show">Khoá học làm web  cơ bản miễn phí</a>
                      <div>
                        <div class="">
                        <span aria-label="Monday, December 17, 2018" ctitle="Monday, December 17, 018">
                          <span class="">DEC</span>
                          <span class="">17</span>
                          <span class="">Đống Đa</span>
                        </span>
                        </div>
                      </div>
                      <div class="col-md-5">
                        <buton class="btn btn-warning">Tham dự</buton>
                      </div>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
             <a class="event_image" href=""><img alt="" src="Img/img9.jpg" style="width: 308px; height: 210px;"></a>
            </div>
             <div class="card-footer">
                      <a href=""  class="show">Jingle Bells 2018</a>
                      <div>
                        <div class="">
                        <span aria-label="Monday, December 17, 2018" ctitle="Monday, December 17, 018">
                          <span class="">DEC</span>
                          <span class="">19</span>
                          <span class="">Đống Đa</span>
                        </span>
                        </div>
                      </div>
                      <div class="col-md-5">
                        <buton class="btn btn-warning">Tham dự</buton>
                      </div>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
             <a href=""><img alt="" src="img14.jpg" style="width: 308px; height: 210px;"></a>
            </div>
              <div class="card-footer">
                      <a href=""  class="show">SAAS DAY 2018 - The Future of Work</a>
                      <div>
                        <div class="">
                        <span aria-label="Monday, December 17, 2018" ctitle="Monday, December 17, 018">
                          <span class="">DEC</span>
                          <span class="">18</span>
                          <span class="">Đống Đa</span>
                        </span>
                        </div>
                      </div>
                      <div class="col-md-5">
                        <buton class="btn btn-warning">Tham dự</buton>
                      </div>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
     
    
      </div>
</div>
</body>
<footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">-21-21-212-2-12-1</p>
      </div>
       

  </footer>
</html>